In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
df = pd.read_excel('http://taanila.fi/KidCreative.xlsx')
df.head()

,Obs No.,Buy,Income,Is Female,Is Married,Has College,Is Professional,Is Retired,Unemployed,Residence Length,Dual Income,Minors,Own,House,White,English,Prev Child Mag,Prev Parent Mag
0,1,0,24000,1,0,1,1,0,0,26,0,0,0,1,0,0,0,0
1,2,1,75000,1,1,1,1,0,0,15,1,0,1,1,1,1,1,0
2,3,0,46000,1,1,0,0,0,0,36,1,1,1,1,1,1,0,0
3,4,1,70000,0,1,0,1,0,0,55,0,0,1,1,1,1,1,0
4,5,0,43000,1,0,0,0,0,0,27,0,0,0,0,1,1,0,1

In [3]:
stats.pearsonr(df['Buy'], df['Is Female'])
#Ostojen ja sukupuolen (nainen) välinen Pearsonin korrelaatio 0,08 ei ole tilastollisesti merkitsevä (2-suuntainen p = 0,044).

(0.07752860421098927, 0.04437258790320963)

In [4]:
stats.spearmanr(df['Buy'], df['Unemployed'])
#Oston ja työttömyyden välinen Spearmanin järjestyskorrelaatio 0,064 ei ole tilastollisesti merkitsevä (2- suuntainen p = 0,1).

SpearmanrResult(correlation=-0.0637383889928655, pvalue=0.09850944098914109)

In [5]:
stats.chi2_contingency(pd.crosstab(df['Buy'], df['Unemployed']))
#Ostamisen ja työttömyyden välinen riippuvuus ei ole tilastollisesti merkitsevä (khiin neliö -testin p = 0,17).

(1.8727143009077707,
 0.17116453076792232,
 1,
 array([[530.90044577,  17.09955423],
        [121.09955423,   3.90044577]]))

In [7]:
a=df['Income'][df['Is Female']==1] #Nainen
b=df['Income'][df['Is Female']==0] #Mies
print(a.mean())
print(b.mean())
stats.ttest_ind(a,b,equal_var=False)
#Naisten keskiarvo (34 000) ja miesten ka (36 300) palkkaerojen välillä ei ole tilastollisesti merkitsevää eroa 
(kahden riippumattoman otoksen 2-suuntaisen t-testin p = 0,21).

34059.29919137467
36331.12582781457

Ttest_indResult(statistic=-1.2354198780737935, pvalue=0.21711990044082924)

In [8]:
stats.mannwhitneyu(a,b)
#Mann-Whitney U -testin mukaan miesten ja naisten palkkojen välillä ei ole tilastollisesti merkitsevää eroa (p = 0,088).

MannwhitneyuResult(statistic=52625.5, pvalue=0.08776218522846946)